{% extends "base.html" %}
{% block content %}
<h2>Hello in a Container</h2>

<div class="row">
    <div class="col bg-primary">Column 1</div>
    <div class="col bg-danger">Column 2</div>
    <div class="col bg-success">Column 3</div>
</div>

<div class="row">
    <div class="col-6 bg-primary">Column 1</div>
    <div class="col-6 bg-danger">Column 2</div>
    <div class="col bg-success">Column 3</div>
</div>
<div class="row">
    <div class="col-sm bg-primary">Column 1</div>
    <div class="col-sm bg-danger">Column 2</div>
    <div class="col-md bg-success">Column 3</div>
</div>
{% endblock %}


